* {
    margin: $zero;
    padding: $zero;
    cursor: pointer;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: $color-base;

    section {
        z-index: 10;
        padding: $ten-rem $five-rem;
        position: $relative;

        @media screen and (max-width: $mobile) {
            padding: $five-rem $twenty $five-rem $twenty !important;
        }
    }

    p,
    a {
        @include text;
    }
}

img {
    width: $max;
    object-fit: cover;
}