* {
    margin: $zero;
    padding: $zero;
    cursor: pointer;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: $color-base;

    section {
        padding: 10rem $five-rem;

        @media screen and (max-width: $desktop) {
            padding: 5rem 20px !important;
        }
    }

    p,
    a {
        @include text;
    }
}

img {
    width: $max;
    border-radius: 15px;
    object-fit: cover;
}