* {
    margin: $zero;
    padding: $zero;
    cursor: pointer;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: $color-background;

    section {
        padding: 10rem $five-rem;

        @media screen and (max-width: $mobile) {
            padding: $five-rem 20px !important;
        }
    }

    p,
    a {
        @include text;
    }
}

img {
    width: $max;
    border-radius: 15px;
    object-fit: cover;
}