h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    width: $max;
    color: $color-title;
    word-wrap: break-word;
    font-family: $title;
}

h1 {
    font-size: 190px;

    @media screen and (max-width: $mobile) {
        font-size: 52px !important;
    }

    @media screen and (max-width: $desktop) {
        font-size: 130px;
    }
}

h2 {
    font-size: 190px;

    @media screen and (max-width: $mobile) {
        font-size: 51px !important;
    }

    @media screen and (max-width: $desktop) {
        font-size: 100px;
    }
}

h3 {
    font-size: 180px;

    @media screen and (max-width: $mobile) {
        font-size: 50px !important;
    }

    @media screen and (max-width: $desktop) {
        font-size: 100px;
    }
}