// PADDING 

.pa-1 {
    padding: 1rem;

    @media screen and (max-width: $mobile) {
        padding: 1rem $zero-rem;
    }
}

// RADIUS

.radius {
    border-radius: $radius;
}

// FONTS 

.subtitle {
    font-size: 28px !important;
    color: $color-subtitle !important;
    text-transform: $uppercase;
    font-family: $subtitle;
}

// MARGIN 

.marg {
    margin: $two-rem 0;
}

.marg-top {
    margin-top: $two-rem;
}

.marg-top-mobile {
    @media screen and (max-width: $mobile) {
        margin-top: $two-rem;
    }
}

.marg-top-tablet {
    @media screen and (max-width: $tablet) {
        margin-top: $two-rem;
    }
}

// BACKGROUND 

.bg-light {
    background-color: $color-background !important;
}

.bg-dark {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: $color-background;
    }

    background-color: $color-base !important;
}

.bg-green {
    background-color: $color-subtitle !important;
}

// COLOR 

.dark {
    color: $color-base !important;
}

// BANNER

.banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
}

// PARALLAX 

.panel {
    height: $max;
    width: $max;
}