.btn {
    font-size: 15px !important;
    border: $none;
    border-radius: $radius;
    padding: 20px 35px;
    @include all-button;
    margin-top: $two-rem;
    transition: $transition;
    background-color: transparent;
}

.btn-light {
    color: $color-background !important;
    border: 1px solid $color-background;

    &:hover,
    &:focus,
    &:active {
        color: $color-base !important;
        background-color: $color-background;
    }
}

.btn-dark {
    color: $color-base !important;
    border: 1px solid $color-base;

    &:hover,
    &:focus,
    &:active {
        color: $color-background !important;
        background-color: $color-base;
    }
}

.btn-accent {
    color: $color-button !important;
    border: 1px solid $color-button;

    &:hover,
    &:focus,
    &:active {
        color: $color-title !important;
        background-color: $color-button;
    }
}

.btn-max {
    width: $max;
}