.card {
    border: $none;
    padding: $two-rem;
    border-radius: 30px;
    background-color: transparent;
}

.card-service,
.card-contact,
.card-language,
.card-job {
    transition: all 0.3s ease-in-out;

    p {
        font-size: 20px !important;
    }
}

.card-service,
.card-contact,
.card-language {
    border: 1px solid $color-base;

    &:hover,
    &:focus,
    &:active {
        background-color: $color-base;

        h4,
        i,
        p {
            color: $color-background;
        }

        .btn {
            color: $color-background !important;
            border: 1px solid $color-background !important;
        }
    }

    h4 {
        font-size: 25px;
    }
}

.card-language,
.card-job {
    .icon {
        display: $flex;
        color: $color-base;

        i {
            font-size: 20px;
            margin-top: 5px;
            margin-right: 10px;
        }
    }

    h5 {
        font-size: 20px !important;
    }
}

.card-job {
    border: 1px solid $color-background !important;

    &:hover,
    &:focus,
    &:active {
        background-color: $color-background !important;

        h4,
        p,
        .btn {
            color: $color-base !important;
        }

        .btn {
            border: 1px solid $color-base !important;
        }
    }
}

.card-selection {
    padding: $zero-rem !important;
    margin-bottom: 4rem;

    @media screen and (max-width: $mobile) {
        margin-bottom: 4rem !important;
    }

    @media screen and (max-width: $tablet) {
        margin-bottom: 6rem;
    }

    img {
        height: 100vh;

        @media screen and (max-width: $mobile) {
            height: 42vh !important;
        }

        @media screen and (max-width: $tablet) {
            height: 60vh;
        }
    }

    .infos-project {
        width: $max;
        z-index: 3;
        padding: $zero-rem 2rem $zero-rem $two-rem;
        margin: 3rem $zero-rem;
        position: $absolute;

        .infos {
            display: $flex;
            justify-content: $space-between;

            @media screen and (max-width: $mobile) {
                display: $none !important;
            }

            span {
                opacity: 0.9;
                @include span;
                color: $color-title !important;
                background-color: $color-background !important;
            }
        }
    }

    .presentation {
        width: $max;
        opacity: 0;
        padding: 0 1rem;
        position: $relative;
        margin-top: -10rem;
        transition: $transition !important;

        @media screen and (max-width: $mobile) {
            margin-top: -13rem !important;
        }


        @media screen and (max-width: $tablet) {
            margin-top: -15rem;
        }

        h3,
        h4 {
            font-size: 80px;

            @media screen and (max-width: $mobile) {
                font-size: 45px !important;
            }
        }

        h3,
        h4,
        p {
            text-align: center;
            color: $color-background;
        }

        p {
            font-size: 17px !important;
        }
    }

    &:hover,
    &:focus,
    &:active {
        .presentation {
            opacity: 1;
        }
    }
}

.card-charter {
    border: 1px solid $color-base;

    @media screen and (max-width: $mobile) {
        margin-bottom: 2rem !important;
    }
}

.card-branding {
    height: 100px;
    width: 250px;
    display: inline-flex;

    @media screen and (max-width: $mobile) {
        width: $max !important;
    }
}

.card-project-images {
    padding: $zero-rem !important;
    position: $relative;

    img {
        width: $max;
        transition: opacity 0.5s ease !important;
    }

    .card-main {
        opacity: 1;
    }

    .card-hover {
        opacity: 0;
        width: 100%;
        position: $absolute;
    }

    &:hover,
    &:focus,
    &:active {
        .card-main {
            opacity: 0;
        }

        .card-hover {
            opacity: 1;
        }
    }
}