.list {
    li {
        border-top: $border-top;
        padding: 2rem $zero-rem;
        transition: all 0.3s ease-in-out !important;

        a {
            @include list;
            font-size: 22px;
        }

        &:hover,
        &:focus,
        &:active {
            padding: 2rem;
            background-color: $color-title;

            a {
                color: $color-background;
            }
        }
    }
}