.footer {
    z-index: 10;
    position: $relative;
    padding: $five-rem $zero-rem;

    .marg {
        margin: 1rem $zero-rem !important;
    }

    h4,
    h5 {
        font-size: 18px;
        font-weight: 600;
    }

    p,
    a {
        font-size: 16px !important;
        color: $color-background !important;
    }

    .reseaux {
        margin-top: $two-rem;

        ul {
            display: inline-flex;

            li {
                margin-right: 10px;
            }
        }
    }
}