.pa-1 {
  padding: 1rem;
}
@media screen and (max-width: 578px) {
  .pa-1 {
    padding: 1rem 0rem;
  }
}

.radius {
  border-radius: 20px;
}

.subtitle {
  font-size: 28px !important;
  color: #99b57a !important;
  text-transform: uppercase;
  font-family: "Karla", sans-serif;
}

.marg {
  margin: 2rem 0;
}

.marg-top {
  margin-top: 2rem;
}

@media screen and (max-width: 578px) {
  .marg-top-mobile {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .marg-top-tablet {
    margin-top: 2rem;
  }
}

.bg-light {
  background-color: #EBEBEB !important;
}

.bg-dark {
  background-color: #292929 !important;
}
.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark h4,
.bg-dark h5,
.bg-dark h6,
.bg-dark p {
  color: #EBEBEB;
}

.bg-green {
  background-color: #99b57a !important;
}

.dark {
  color: #292929 !important;
}

.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
}

.panel {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  cursor: pointer;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #EBEBEB;
}
body section {
  padding: 10rem 5rem;
}
@media screen and (max-width: 578px) {
  body section {
    padding: 5rem 20px !important;
  }
}
body p,
body a {
  color: #292929;
  font-size: 28px;
  font-weight: 300;
  font-family: "Comfortaa", sans-serif;
}
body p strong,
body a strong {
  font-weight: 500;
}
@media screen and (max-width: 578px) {
  body p,
body a {
    font-size: 20px !important;
  }
}

img {
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  width: 100%;
  color: #233221;
  word-wrap: break-word;
  font-family: "Unica One", sans-serif;
}

h1 {
  font-size: 190px;
}
@media screen and (max-width: 578px) {
  h1 {
    font-size: 52px !important;
  }
}
@media screen and (max-width: 1480px) {
  h1 {
    font-size: 130px;
  }
}

h2 {
  font-size: 190px;
}
@media screen and (max-width: 578px) {
  h2 {
    font-size: 51px !important;
  }
}
@media screen and (max-width: 1480px) {
  h2 {
    font-size: 100px;
  }
}

h3 {
  font-size: 180px;
}
@media screen and (max-width: 578px) {
  h3 {
    font-size: 50px !important;
  }
}
@media screen and (max-width: 1480px) {
  h3 {
    font-size: 100px;
  }
}

.header {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 15;
  position: fixed;
  background-color: transparent !important;
  transition: background-color 0.3s, color 0.3s;
}
@media screen and (max-width: 578px) {
  .header {
    padding: 0rem !important;
  }
}
.header .navbar {
  display: flex;
  justify-content: space-between;
}
.header .navbar img {
  width: 15%;
  margin-left: -20px;
}
@media screen and (max-width: 578px) {
  .header .navbar img {
    margin-left: -8px;
  }
}
.header .button-menu {
  color: #99b57a;
  margin-top: 0px;
  padding: 0 !important;
  transition: transform 0.5s ease !important;
}
@media screen and (max-width: 578px) {
  .header .button-menu {
    right: 0.7rem;
    position: absolute;
  }
}
.header .button-menu:hover, .header .button-menu:focus, .header .button-menu:active {
  transform: scale(1.1);
}
.header .button-menu:hover .icon-menu, .header .button-menu:focus .icon-menu, .header .button-menu:active .icon-menu {
  border-bottom: 2px solid #99b57a;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 50px !important;
}
.header .button-menu:hover .icon-menu i, .header .button-menu:focus .icon-menu i, .header .button-menu:active .icon-menu i {
  color: #EBEBEB;
}
.header .button-menu:hover .text, .header .button-menu:focus .text, .header .button-menu:active .text {
  color: #EBEBEB;
}
.header .button-menu i {
  font-size: 20px;
}
.header .button-menu .text {
  color: #EBEBEB;
  font-family: "Unica One", sans-serif;
  font-weight: 800;
  letter-spacing: 0.9px;
}
.header .open {
  width: 100%;
}

.transparent-header .logo-black,
.dark-header .logo-black {
  display: none !important;
}
.transparent-header .logo-white,
.dark-header .logo-white {
  display: block !important;
}

.light-header .logo-black {
  display: block !important;
}
.light-header .logo-white {
  display: none !important;
}
.light-header .button-menu:hover i,
.light-header .button-menu:hover .text, .light-header .button-menu:focus i,
.light-header .button-menu:focus .text, .light-header .button-menu:active i,
.light-header .button-menu:active .text {
  color: #292929 !important;
}
.light-header .button-menu .text {
  color: #292929;
}

.dark-header .sidenav {
  background-color: #292929 !important;
}
.dark-header .sidenav a,
.dark-header .sidenav .close {
  color: #EBEBEB !important;
}

.none {
  display: none !important;
}

.block {
  display: block !important;
}

.sidenav {
  top: 0;
  right: 0;
  width: 0;
  z-index: 3;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  transition: width 0.3s ease;
  background-color: #EBEBEB;
}
.sidenav .menu-sidebar {
  padding: 2rem 5rem;
}
@media screen and (max-width: 578px) {
  .sidenav .menu-sidebar {
    padding: 2rem;
  }
}
.sidenav .reg-sidenav {
  display: flex;
  justify-content: space-between;
}
.sidenav .reg-sidenav a,
.sidenav .reg-sidenav .close {
  font-size: 17px !important;
}
.sidenav .reg-sidenav .close {
  color: #292929;
  padding: 0 !important;
  background-color: transparent;
}
.sidenav .reg-sidenav .languages {
  margin-top: auto;
}
.sidenav .reg-sidenav .languages a {
  text-decoration: none;
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
}
.sidenav ul {
  margin-top: 5rem;
  text-align: center;
}
@media screen and (max-width: 578px) {
  .sidenav ul {
    margin-top: 2rem;
  }
}
.sidenav ul .nav-link {
  font-size: 80px !important;
  color: #292929;
  position: relative;
  font-family: "Unica One", sans-serif;
  transition: color 0.3s ease-in-out;
}
.sidenav ul .nav-link::before {
  right: 30%;
  bottom: 0;
  height: 2px;
  content: "";
  width: 0;
  position: absolute;
  visibility: hidden;
  transform: translateX(-50%);
  background-color: #99b57a !important;
  transition: all 0.3s ease-in-out;
}
.sidenav ul .nav-link:hover, .sidenav ul .nav-link:focus, .sidenav ul .nav-link:active {
  color: #99b57a !important;
}
.sidenav ul .nav-link:hover:before, .sidenav ul .nav-link:focus:before, .sidenav ul .nav-link:active:before {
  visibility: visible;
  width: 50%;
}

.footer {
  padding: 5rem 0rem;
}
.footer .marg {
  margin: 1rem 0rem !important;
}
.footer h4,
.footer h5 {
  font-size: 18px;
  font-weight: 600;
}
.footer p,
.footer a {
  font-size: 16px !important;
  color: #EBEBEB !important;
}
.footer .reseaux {
  margin-top: 2rem;
}
.footer .reseaux ul {
  display: inline-flex;
}
.footer .reseaux ul li {
  margin-right: 10px;
}

.btn {
  font-size: 15px !important;
  border: none;
  border-radius: 20px;
  padding: 20px 35px;
  text-transform: uppercase;
  font-family: "Karla", sans-serif;
  margin-top: 2rem;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
}

.btn-light {
  color: #EBEBEB !important;
  border: 1px solid #EBEBEB;
}
.btn-light:hover, .btn-light:focus, .btn-light:active {
  color: #292929 !important;
  background-color: #EBEBEB;
}

.btn-dark {
  color: #292929 !important;
  border: 1px solid #292929;
}
.btn-dark:hover, .btn-dark:focus, .btn-dark:active {
  color: #EBEBEB !important;
  background-color: #292929;
}

.btn-accent {
  color: #BACEB6 !important;
  border: 1px solid #BACEB6;
}
.btn-accent:hover, .btn-accent:focus, .btn-accent:active {
  color: #233221 !important;
  background-color: #BACEB6;
}

.btn-max {
  width: 100%;
}

.list li {
  border-top: 1px solid #292929;
  padding: 2rem 0rem;
  transition: all 0.3s ease-in-out !important;
}
.list li a {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  font-size: 22px;
}
.list li:hover, .list li:focus, .list li:active {
  padding: 2rem;
  background-color: #233221;
}
.list li:hover a, .list li:focus a, .list li:active a {
  color: #EBEBEB;
}

.card {
  border: none;
  padding: 2rem;
  border-radius: 30px;
  background-color: transparent;
}

.card-service,
.card-contact,
.card-language,
.card-job {
  transition: all 0.3s ease-in-out;
}
.card-service p,
.card-contact p,
.card-language p,
.card-job p {
  font-size: 20px !important;
}

.card-service,
.card-contact,
.card-language {
  border: 1px solid #292929;
}
.card-service:hover, .card-service:focus, .card-service:active,
.card-contact:hover,
.card-contact:focus,
.card-contact:active,
.card-language:hover,
.card-language:focus,
.card-language:active {
  background-color: #292929;
}
.card-service:hover h4,
.card-service:hover i,
.card-service:hover p, .card-service:focus h4,
.card-service:focus i,
.card-service:focus p, .card-service:active h4,
.card-service:active i,
.card-service:active p,
.card-contact:hover h4,
.card-contact:hover i,
.card-contact:hover p,
.card-contact:focus h4,
.card-contact:focus i,
.card-contact:focus p,
.card-contact:active h4,
.card-contact:active i,
.card-contact:active p,
.card-language:hover h4,
.card-language:hover i,
.card-language:hover p,
.card-language:focus h4,
.card-language:focus i,
.card-language:focus p,
.card-language:active h4,
.card-language:active i,
.card-language:active p {
  color: #EBEBEB;
}
.card-service:hover .btn, .card-service:focus .btn, .card-service:active .btn,
.card-contact:hover .btn,
.card-contact:focus .btn,
.card-contact:active .btn,
.card-language:hover .btn,
.card-language:focus .btn,
.card-language:active .btn {
  color: #EBEBEB !important;
  border: 1px solid #EBEBEB !important;
}
.card-service h4,
.card-contact h4,
.card-language h4 {
  font-size: 25px;
}

.card-language .icon,
.card-job .icon {
  display: flex;
  color: #292929;
}
.card-language .icon i,
.card-job .icon i {
  font-size: 20px;
  margin-top: 5px;
  margin-right: 10px;
}
.card-language h5,
.card-job h5 {
  font-size: 20px !important;
}

.card-job {
  border: 1px solid #EBEBEB !important;
}
.card-job:hover, .card-job:focus, .card-job:active {
  background-color: #EBEBEB !important;
}
.card-job:hover h4,
.card-job:hover p,
.card-job:hover .btn, .card-job:focus h4,
.card-job:focus p,
.card-job:focus .btn, .card-job:active h4,
.card-job:active p,
.card-job:active .btn {
  color: #292929 !important;
}
.card-job:hover .btn, .card-job:focus .btn, .card-job:active .btn {
  border: 1px solid #292929 !important;
}

.card-selection {
  padding: 0rem !important;
  margin-bottom: 4rem;
}
@media screen and (max-width: 578px) {
  .card-selection {
    margin-bottom: 4rem !important;
  }
}
@media screen and (max-width: 1024px) {
  .card-selection {
    margin-bottom: 6rem;
  }
}
.card-selection img {
  height: 100vh;
}
@media screen and (max-width: 578px) {
  .card-selection img {
    height: 42vh !important;
  }
}
@media screen and (max-width: 1024px) {
  .card-selection img {
    height: 60vh;
  }
}
.card-selection .infos-project {
  width: 100%;
  z-index: 3;
  padding: 0rem 2rem 0rem 2rem;
  margin: 3rem 0rem;
  position: absolute;
}
.card-selection .infos-project .infos {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 578px) {
  .card-selection .infos-project .infos {
    display: none !important;
  }
}
.card-selection .infos-project .infos span {
  opacity: 0.9;
  padding: 1rem;
  border-radius: 20px;
  font-size: 18px !important;
  color: #233221 !important;
  background-color: #EBEBEB !important;
}
.card-selection .presentation {
  width: 100%;
  opacity: 0;
  padding: 0 1rem;
  position: relative;
  margin-top: -10rem;
  transition: all 0.3s ease-in-out !important;
}
@media screen and (max-width: 578px) {
  .card-selection .presentation {
    margin-top: -13rem !important;
  }
}
@media screen and (max-width: 1024px) {
  .card-selection .presentation {
    margin-top: -15rem;
  }
}
.card-selection .presentation h3,
.card-selection .presentation h4 {
  font-size: 80px;
}
@media screen and (max-width: 578px) {
  .card-selection .presentation h3,
.card-selection .presentation h4 {
    font-size: 45px !important;
  }
}
.card-selection .presentation h3,
.card-selection .presentation h4,
.card-selection .presentation p {
  text-align: center;
  color: #EBEBEB;
}
.card-selection .presentation p {
  font-size: 17px !important;
}
.card-selection:hover .presentation, .card-selection:focus .presentation, .card-selection:active .presentation {
  opacity: 1;
}

.card-branding {
  text-align: center;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.modal .modal-content {
  padding: 2rem;
}
.modal .modal-content .modal-header {
  border-bottom: none;
}
.modal .modal-content .modal-header h5 {
  font-size: 28px !important;
}
.modal .modal-content .modal-body p {
  font-size: 18px;
}

.introduction {
  height: 100vh;
  z-index: -1;
  transition: transform 0.1s ease-out;
  background-image: url("../img/banner/banner-hijab.webp");
}
@media screen and (max-width: 1024px) {
  .introduction {
    padding: 0rem !important;
  }
}
@media screen and (max-width: 1024px) {
  .introduction {
    background-image: none !important;
  }
}
.introduction img {
  display: none;
}
@media screen and (max-width: 1024px) {
  .introduction img {
    height: 100vh;
    left: 0;
    right: 0;
    display: block !important;
    position: absolute !important;
    border-radius: 0rem !important;
  }
}
@media screen and (max-width: 578px) {
  .introduction #a-explore {
    margin-top: 35rem !important;
  }
}
.introduction .a-explore {
  margin-top: 40rem;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .introduction .a-explore {
    margin-top: 40rem !important;
  }
}
@media screen and (max-width: 1480px) {
  .introduction .a-explore {
    margin-top: 30rem;
  }
}
.introduction .a-explore a {
  color: #EBEBEB;
  font-family: "Unica One", sans-serif;
  position: relative;
}
.introduction .a-explore a i {
  color: #99b57a;
}

.about-me h1 {
  font-size: 320px;
  line-height: 14rem;
}
@media screen and (max-width: 578px) {
  .about-me h1 {
    font-size: 107px !important;
    line-height: 6rem !important;
  }
}
@media screen and (max-width: 1480px) {
  .about-me h1 {
    font-size: 172px;
    line-height: 9rem;
  }
}
.about-me h2 {
  color: #BACEB6;
  font-size: 100px;
}
@media screen and (max-width: 578px) {
  .about-me h2 {
    font-size: 52px !important;
  }
}
@media screen and (max-width: 1024px) {
  .about-me h2 {
    font-size: 90px;
  }
}
.about-me img {
  height: 600px;
  width: 600px;
  z-index: 8;
  margin-top: -10%;
  position: relative;
}
@media screen and (max-width: 578px) {
  .about-me img {
    height: 350px !important;
    width: 318px !important;
    margin: 1rem 0rem !important;
  }
}
@media screen and (max-width: 1024px) {
  .about-me img {
    margin: 2rem 0rem;
  }
}

.about-intro img {
  height: 500px;
}
@media screen and (max-width: 578px) {
  .about-intro img {
    height: 300px !important;
  }
}

.project-name {
  padding: 0 0 10rem 0;
}
.project-name img {
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  border-top-left-radius: 0rem !important;
  border-top-right-radius: 0rem !important;
}
@media screen and (max-width: 578px) {
  .project-name img {
    height: 110vh !important;
  }
}
@media screen and (max-width: 1024px) {
  .project-name img {
    height: 80vh;
  }
}
.project-name .name {
  z-index: 5;
  margin-top: 15rem;
  position: relative;
}
@media screen and (max-width: 578px) {
  .project-name .btn {
    margin-bottom: 0rem !important;
  }
}

.project-concept h2 {
  margin-top: 10rem;
}
.project-concept .service,
.project-concept .year {
  padding: 25px;
  width: 100%;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  margin-bottom: 1rem;
  color: #233221;
  border: 2px solid #233221;
}
@media screen and (max-width: 578px) {
  .project-concept .service,
.project-concept .year {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 578px) {
  .project-concept .marg {
    margin: 1rem 0rem !important;
  }
}

@media screen and (max-width: 578px) {
  .branding h3 {
    margin-bottom: 2rem;
  }
}
.branding h4 {
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
}
@media screen and (max-width: 578px) {
  .branding h4 {
    font-size: 19px !important;
  }
}

/*# sourceMappingURL=main.css.map */
