.introduction {
    .content {
        z-index: 10;
        position: $relative !important;

        @media screen and (max-width: $mobile) {
            margin-top: 8rem !important;
        }

        @media screen and (max-width: $tablet) {
            margin-top: $five-rem;
        }

        h1 {
            @media screen and (max-width: $mobile) {
                font-size: 90px !important;
            }
        }

        .a-explore {
            margin-top: $ten-rem;

            @media screen and (max-width: $mobile) {
                margin-top: $five-rem !important;
            }

            a {
                color: $color-background;
            }
        }
    }
}

.explore {
    h1 {
        margin-bottom: $five-rem;
    }

    p {
        margin-top: $five-rem;

        @media screen and (max-width: $tablet) {
            margin-top: $zero-rem !important;
        }
    }

    img {
        height: 650px;

        @media screen and (max-width: $mobile) {
            height: 300px !important;
        }

        @media screen and (max-width: $tablet) {
            height: 600px;
        }
    }

}

.projects-selection {
    padding: $zero-rem !important;

    @media screen and (max-width: $mobile) {
        padding-top: $five-rem !important;
    }
}