.portfolio {
    h1 {
        @media screen and (max-width: $mobile) {
            margin-top: $five-rem;
            font-size: 110px !important;
        }
    }
}

.projects {
    padding: $zero-rem !important;

    .card {
        @media screen and (max-width: $tablet) {
            margin-bottom: $two-rem !important;
        }

        .presentation {
            margin-top: -13rem;
        }
    }
}